<div class="mt-4">
    <h3>Sửa khóa học</h3>

    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level">
        </div>
        <div class="form-group">
            <label for="courseTarget">Nội dung khóa học đạt được</label>
            <input type="text" class="form-control" id="courseTarget" name="courseTarget">
        </div>
          <div class="form-group">
            <label for="courseRequest">Yêu cầu khóa học</label>
            <input type="text" class="form-control" id="courseRequest" name="courseRequest">
        </div>
         <div class="form-group">
            <label for="countLesson">Số lượng bài học</label>
            <input type="text" class="form-control" id="countLesson" name="countLesson">
        </div>
         <div class="form-group">
            <label for="timeLesson">Thời lượng học</label>
            <input type="text" class="form-control" id="timeLesson" name="timeLesson">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>